
.toolbar{
  background-color: black;
}

a{
  font-family: monospace;
  color: white;
}

a:hover{
  background: orange;
  color: black;
  cursor: pointer;
}
a {
  display:block;
  text-align:center;
  width:150px;
  text-decoration:none;
}

